

.header {
  background-image: linear-gradient(to right, rgb(235, 235, 235) 0%, #ffffff 44%, #d8c2c2 88%, #ebebeb 117%);
  font-family: Lato;
  font-size: 30px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: 1.5px;
  text-align: center;
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
}


/* Media query for smaller screens */
@media (min-width: 768px) {
  .subheading {
    width: 100%; /* Adjust width for smaller screens */
    margin: 16px 20px; /* Adjust margin for smaller screens */
    font-size: 28px; /* Adjust font size for smaller screens */
    line-height: 1.2; /* Adjust line height for better readability */
    letter-spacing: 0.6px; /* Adjust letter spacing for better readability */
    text-align: center; /* Center text for smaller screens */
  }
}
.button,
.button:after {
  width: 150px;
  height: 76px;
  line-height: 78px;
  font-size: 20px;
  font-family: 'Bebas Neue', sans-serif;
  background: linear-gradient(45deg, transparent 5%, #f4291e 5%);
  border: 0;
  color: #fff;
  letter-spacing: 3px;
  box-shadow: 6px 0px 0px #00E6F6;
  outline: transparent;
  position: relative;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

.button:after {
  content: attr(data-text);
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: linear-gradient(45deg, transparent 3%, #00E6F6 3%, #00E6F6 5%, #ff6b01 5%);
  text-shadow: -3px -3px 0px #F8F005, 3px 3px 0px #00E6F6;
  clip-path: inset(50% 50% 50% 50%);
}

.button:hover:after {
  animation: 1s glitch;
  animation-timing-function: steps(2, end);
}

@keyframes glitch {
  0%, 100% {
    clip-path: inset(50% 50% 50% 50%);
    transform: translate(0);
  }
  10% {
    clip-path: inset(80% -6px 0 0);
    transform: translate(-20px, -10px);
  }
  20% {
    clip-path: inset(50% -6px 30% 0);
    transform: translate(10px, 10px);
  }
  30% {
    clip-path: inset(10% -6px 85% 0);
    transform: translate(-10px, 10px);
  }
  40% {
    clip-path: inset(40% -6px 43% 0);
    transform: translate(0px, 5px);
  }
  50% {
    clip-path: inset(80% -6px 5% 0);
    transform: translate(-5px, 0px);
  }
  60% {
    clip-path: inset(80% -6px 5% 0);
    transform: translate(5px, 0px);
  }
  70% {
    clip-path: inset(40% -6px 43% 0);
    transform: translate(5px, 10px);
  }
  80% {
    clip-path: inset(10% -6px 85% 0);
    transform: translate(-10px, 10px);
  }
  90% {
    clip-path: inset(50% -6px 30% 0);
    transform: translate(20px, -10px);
  }
}

